<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta http-equiv="refresh" content="20" >
            <title>Tap and Map</title>
            {{tap_and_map.js}}
    </head>
    <body>
      <div id="page" style="height:100vh;width:100vw">
         <div style="height:100vh;width:70vw;float: left;">
            {{tap_and_map.html}}
         </div>
         <div style="height:100vh;width:29vw;float: right;">
            <p> test
         </div>
      <div>
    </body>
</html>
